---
import Sun from '../components/Sun.astro';
import Moon from '../components/Moon.astro';
interface Props {
  title: string;
  clas?: string;
}

const { clas, title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={clas}>
    <button
      id="toggleButton"
      class="absolute end-0 m-4  rounded-full bg-blue fill-slate-800 dark:fill-yellow-400"
    >
      <Sun/>
      <Moon/>
    </button>
  </body>
  <slot />
</html>

<script>
  const button = document.getElementById("toggleButton");
  if (button) {
    const icon1 = document.getElementById("moon");
    const icon2 = document.getElementById("sun");
    const html = document.querySelector("html");

    button.addEventListener("click", () => {
      html?.classList.toggle("dark");
      if (icon1 && icon2) {
        icon1.classList.toggle("hidden");
        icon2.classList.toggle("hidden");
      }
    });
  }
</script>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #ffffff;
    background-size: 224px;
  }
</style>
