---
interface Props {
  id:string;
  text: string;
  type: "submit" | "button";
  click?:string;
}
const { id, text, type ,click} = Astro.props;
---

<div>
  <button
    id={id}
    type={type}
    onclick={click}
    class="w-full bg-blue-500 shadow-lg shadow-blue-500/50 py-1.5 px-2.5 mx-auto rounded-md border-1 text-white dark:bg-transparent dark:border-2 dark:border-blue-500"
    >{text}</button
  >
</div>
